@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 30px;
}

.attribution .social {
  margin: 20px 0;
}

.attribution .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.attribution .social ul li:first-child {
  margin-right: 12px;
}

.attribution .social ul li:last-child {
  margin-left: 12px;
}

.attribution .social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-decoration: none;
  color: #4f7df3;
}

.attribution .social ul li a:hover {
  color: white;
  background: #4f7df3;
}

.attribution small {
  color: #969696;
  font-size: 12px;
}

.attribution a {
  color: #3e52a3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  font-size: 20px;
  color: #151f29;
}

.wrapper {
  min-height: 100vh;
  text-align: center;
}

.wrapper .logo {
  padding: 85px 0 20px;
}

.wrapper .main-wrapper h1 {
  margin: 24px 0 18px;
  font-size: 3rem;
  letter-spacing: 0.5px;
}

.wrapper .main-wrapper h1 span {
  font-weight: 300;
  color: #969696;
}

.wrapper .main-wrapper .form-wrapper {
  margin: 38px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input {
  border: 1px solid #c2d3ff;
  width: 420px;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input:hover {
  border-color: #4f7df3;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input::-webkit-input-placeholder {
  color: #c2d3ff;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input:-ms-input-placeholder {
  color: #c2d3ff;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input::-ms-input-placeholder {
  color: #c2d3ff;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer input::placeholder {
  color: #c2d3ff;
}

.wrapper .main-wrapper .form-wrapper .form-inputContainer .emailValidate {
  position: absolute;
  font-style: italic;
  color: #ff5263;
  font-size: 12px;
  padding: 8px 0 0 30px;
}

.wrapper .main-wrapper .form-wrapper .error input {
  border: 1px solid #ff5263;
}

.wrapper .main-wrapper .form-wrapper .success input {
  border: 1px solid #c2d3ff;
}

.wrapper .main-wrapper .form-wrapper .success .emailValidate {
  color: #38cc8c;
}

.wrapper .main-wrapper .form-wrapper button {
  border: none;
  background: #4f7df3;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  width: 200px;
  margin-left: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper .main-wrapper .form-wrapper button:hover {
  opacity: 0.8;
}

.wrapper .illustration {
  margin: 85px 0 70px;
}

.wrapper .illustration img {
  max-height: 392px;
}

.form--style {
  border-radius: 50px;
  padding: 19px 30px;
}

@media screen and (max-width: 750px) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper .logo {
    padding: 80px 0 20px;
  }
  .wrapper .main-wrapper {
    padding: 0 20px;
  }
  .wrapper .main-wrapper h1 {
    font-size: 24px;
  }
  .wrapper .main-wrapper div {
    font-size: 12px;
  }
  .wrapper .main-wrapper .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main-wrapper .form-wrapper .form-inputContainer {
    width: 100%;
  }
  .wrapper .main-wrapper .form-wrapper .form-inputContainer input {
    width: 100%;
    max-width: 400px;
    padding: 10px 30px;
  }
  .wrapper .main-wrapper .form-wrapper .form-inputContainer .emailValidate {
    position: relative;
    padding: 0;
    margin-top: 5px;
  }
  .wrapper .main-wrapper .form-wrapper button {
    width: 100%;
    max-width: 400px;
    margin: 10px 0 0;
    padding: 10px 30px;
  }
  .wrapper .illustration img {
    max-height: initial;
    width: 100%;
    max-width: 500px;
  }
}
/*# sourceMappingURL=styles.css.map */